﻿@page
@model oli.Pages.IndexModel

@{
    ViewData["Title"] = "JSON Verification";


}
@section Scripts
    {
    <script type="text/javascript" src="~/js/validate.js"></script>
    <script type="text/javascript" src="~/js/ajaxPost.js"></script>
}

<h2>Oli JSON Generation.</h2>
<p>Enter JSON Values:</p><br/><br/>
<form method="post" id="form">
    <div class="row">
        <legend class="col-form-label">Required Values</legend>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="prod">Producer</label>
                <input class="form-control" required="" type="text" name="producer" id="prod" placeholder="Producer" />
            </div>
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label for="sub">Subscriber</label>
                    <input class="form-control" required="" type="text" name="subscriber" id="sub" placeholder="Subscriber" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="param">Parameter</label>
                <input class="form-control" required="" type="text" name="parameter" id="param" placeholder="Parameter" />
            </div>
            <div class="form-group form-check col-md-6">
                <input type="checkbox" class="form-check-input" id="active">
                <label class="form-check-label" for="active">Active?</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-row">
            <legend class="col-form-label">Type</legend>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" id="type0" value="0" checked>
                <label class="form-check-label" for="type0">
                    0
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" id="type1" value="1">
                <label class="form-check-label" for="type1">
                    1
                </label>
            </div>
        </div>
    </div>
    <div class="row" id="connstr-holder" style="display: none;">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="connstr">Connection String</label>
                <input class="form-control" type="text" name="connstr" id="connstr" placeholder="DefaultEndpointsProtocol=https..." />
            </div>
        </div>
    </div>

    <br /><input class="btn btn-primary" type="submit" value="Submit" id="submit" />
    <p id="output"></p>
</form>

<style>

    font-face {
        font-family: 'Fugro';
        font-style: normal;
        font-weight: 400;
        src: url(https://www.fugro.com/Sitefinity/WebsiteTemplates/Fugro/App_Themes/Fugro/Fonts/74649485-cd74-443e-9d54-331ccd448900.woff) format('woff');
    }

    h1 {
        font-family: Fugro;
    }
</style>